:root .theme_light {
  --color-shadow-title-header: #ff0070;
  --color-background-text: #ff8dcb;
  --color-text-title: #ffc2e6;
  --color-title-section: #353430;
  --color-text-section: #353430;
  --header-paragraph-text: #353430;
  --paragraph-text: #353430;
  --color-link-focus: #353430;
  --hover-button-menu-theme: hsla(48, 5%, 19%, 0.4);
  --backgrond-page-color: #FFF1F7;
  --backgrond-page: url(../images/cover-image-light.png);
}

/* предпочтение ОС пользователя light */
@media (prefers-color-scheme: light) {
  :root {
    --color-shadow-title-header: #ff0070;
    --color-background-text: #ff8dcb;
    --color-text-title: #ffc2e6;
    --color-title-section: #353430;
    --color-text-section: #353430;
    --header-paragraph-text: #353430;
    --paragraph-text: #353430;
    --color-link-focus: #353430;
    --hover-button-menu-theme: hsla(48, 5%, 19%, 0.4);
    --backgrond-page-color: #FFF1F7;
    --backgrond-page: url(../images/cover-image-light.png);
  } 
  
}
